// Set appropriate padding on content.
// This is to leave space for the header and the tab bar.
@mixin content($args...) {
  padding: 0;
  @each $arg in $args {
    @if $arg == header {
      padding-top: 2.5em;
    }
    @if $arg == tabbar {
      padding-bottom: 3.5em;
    }
  }
}
