// define some global input styles.
.input {
  width: 100%;
  font-family: "Helvetica Neue" sans-serif;
  font-size: 1em;
  border-radius: 0.3em;
  @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.2));
  padding: 0.4em;
  background: white;
  color: #333;
  border: {
    style: solid;
    width: 1px;
    color: #999 #aaa #ccc;
  }
}

// extend global style.
@mixin input {
  @extend .input;
}
